ion-slides {
  height: 100%;
  ion-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: initial;
    justify-content: left;
    ion-row {
      flex-direction: column;
      ion-img {
        height: 10vh;
        width: 10vh;
      }
      ion-label,
      p {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--ion-color-white);
      }
    }
  }
}
// .logo {
//   margin: 1vh 0 0 1vh;
// }
// .logoLabel {
//   margin-top: 2vh;
// }
.authButton {
  transform: translateY(70vh);
  ion-button {
    width: 70%;
    margin: auto;
    margin-bottom: 5vh;
  }
}

// ion-footer {
//   ion-toolbar{
//     --background: transparent;
//     ion-row{
//       flex-direction: column;
//     }
//   }
// }
